<ion-header class="ion-no-border">
  <ion-item lines="none">
    <!-- Burger Menu Button -->
    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>

    <!-- Avatar -->
    <ion-avatar slot="end">
      <img src="assets/icons/avatar.png" alt="Avatar Icon">
    </ion-avatar>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- main header -->
  <div class="main-header"></div>

  <!-- Saldo & Top up section -->
  <ion-grid>
    <ion-row>
      <!-- Bagian saldo -->
      <ion-col size="6">
        <ion-label color="light" class="ion-margin-start">
          SALDO SAYA
          <ion-chip color="dark">Rp5,000,000,000</ion-chip>
        </ion-label>
      </ion-col>

      <!-- Bagian top up -->
      <ion-col size="6" class="ion-text-right">
        <ion-button color="dark">
          <ion-text>Top Up</ion-text>
          <ion-icon slot="end" name="add" color="light"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-text class="ion-margin-start" color="light">
          All Features
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" *ngFor="let feature of features">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail>
                <img [src]="feature.icon">
              </ion-thumbnail>
            </div>
          </ion-card-header>

          <ion-card-content>
            <ion-label>{{feature.name}}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
